{literal}
<script type="text/javascript">
    $(document).ready(function() {
        var interval = setInterval(replaceButton, 500);
        function replaceButton() {
            {/literal}{if $show_n2go_connect == true}{literal}
             $("input[name='conf_XT_NEWSLETTER2GO_CONNECTBUTTON_shop_1']").replaceWith('<div class="x-form-item"><div class="x-form-element"><a id="n2goConnectBtn" style="background-color:#000;color:#fff;padding:5px;margin:10px;text-decoration:none" href="{/literal}{$connectUrl}{literal}" target="_blank">{/literal}{txt key=XT_NEWSLETTER2GO_CONNECTBUTTON_TITLE}{literal}</a></div></div>');
            {/literal}{else}{literal}
             $("input[name='conf_XT_NEWSLETTER2GO_CONNECTBUTTON_shop_1']").replaceWith('<div class="x-form-item"><div class="x-form-element"><span id="n2goConnectBtn">{/literal}{txt key=TEXT_NL2GO_NO_API}{literal}</span></div></div>');
            {/literal}{/if}{literal}
            if($("#n2goConnectBtn")) {
                clearInterval(interval);
            }
        }
    });
</script>
{/literal}
